.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    border: 1px solid #06fa4f;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .nav span {
    margin-right: 1rem;
  }
  
  .nav button {
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #070707;
    cursor: pointer;
  }
  
  .adminDashboardLink {
    color: rgb(4, 250, 4);
    text-shadow: rgb(231, 231, 231) 1px 1px 1px;
}